
:root{
  --bg-color-2:#0c59db;
  --bg-color-3:#152679;
  --header-footer :#10375c;
  /*#00142d;*/
  --icons-color:#152679 ;
  /*2f5bb7*/
  --font-color-1:#fff;
  --font-color-2:rgba(0,0,0,.5);
  /*#aaa;*/
  --black:#111;
  --white:#fff;
}
body,span,div,a,i{
  /* font-family: 'Roboto Condensed', sans-serif; */
  font-family: 'Spinnaker', sans-serif;
}
.margin15{
  margin: 15px;
}
button:hover,button:active,button:focus{
  color: #fff!important;
    background-color:var(--bg-color-2) !important;
    border-color:var(--bg-color-2)!important;
    border:none !important;
    outline: none !important;
    box-shadow: none !important;
}
.float-right{
  float: right;
}
.margin6L12R{
  margin: 6px 12px;
}
.paddingL0{
  padding-left: 0px !important;
}
.font-16{
  font-size: 16px !important;
}
.ctg-btn-primary:hover{
  border: 1px solid #fff !important;
  color: #fff !important;
  background: #10375c !important;
}
.marginT5px{
  margin-top: 5px;
}
.paddingR5{
  padding-right: 5px;
}
.paddingL5{
  padding-left: 5px;
}
.blue-color{
  color: var(--header-footer);
}
.width-100{
  width: 100%;
}
/* header styles*/
.logo-header{
  width: 125px;
}
.navbar-1{
  background: var(--header-footer);
}
.navbar-1 a.navbar-brand, #header-navbar-1 a{
  color: var(--font-color-1);
  font-size: 14px;
  padding: 0px 12px;
}
.navbar-1 a.navbar-brand span{
padding: 0px 4px;
}
.navbar-2{
  padding: 10px 15px;
  box-shadow: 0 9px 12.7px 0.3px hsla(0,0%,88.2%,.64);
}
#header-navbar-2 .navbar-nav a{
  padding: 0px 20px;
}
#header-navbar-2 .navbar-nav a{
  padding: 0px 20px;
 
}

/* footer styles*/
.footer{
  background-color: var(--header-footer);
  text-align: center;
  padding: 15px;
}
.footer-information{
  width: 100%;
}
.footer-copyright{
  background-color: var(--header-footer);
}
.footer-list .list-group{
  margin-right: 20px;
}
.footer-list .list-group-item{
  background: none;
    border: none;
    padding: 0px ;
}
.footer-copyright{
 
    color: var(--font-color-1);
    border: none !important;
    border-radius: none;
    margin: 0px 14px;
}
.footer-copyright div{
  text-align: center;
  background: var(--header-footer);
  padding: 6px;
}
.footer span{
  display: block;
  padding: 8px 0px;
}
.footer-icons i{
  border: 1px solid #fff;
    border-radius: 50%;
    color: #10375c;
    background-color: white;
    font-size: 18px;
    background: #fff;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    line-height: 35px;
    vertical-align: middle;
}
.footer-icon-wrapper{
  padding: 25px 20px !important;
}
/*content section*/

/* Home page*/
.Home{
  height:1250px;
}
.image-text{
  position: absolute;
    top: 33%;
    left: 1%;
    font-size: 54px;
    color: #fff;
    font-weight: 600;
}
.image-text-subheading{
  position: absolute;
    top: 46%;
    left: 1%;
    font-size: 35px;
    color: #fff;
    font-weight: 400;
    word-break: break-word;
    width: 400px;
}
.homepage-aboutus-header , .homepage-aboutus-body{
  width: 100%;
  margin: 20px 0px !important;
}
.homepage-aboutus-header .card{
  border: none;
}
.homepage-aboutus-header .heading{
  color: #10375c;
}
.homepage-aboutus-header .caption{
  font-size: 50px;
  color: #10375c;
}

.homepage-aboutus-body .card{
  text-align: center;
    padding: 20px;
    border: none;
    box-shadow: 0 10px 29.7px 0.3px hsla(0,0%,88.2%,.64);
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}
.homepage-aboutus-body .card:hover{
  color: #fff;
    background:#10375c;
    /* background: #43a2ae; */
    transform: translateY(-8px);
}
.homepage-aboutus-body .card:hover i{
  color: #fff;
  transform: translateY(-8px);
}
.homepage-aboutus-body .desktop-icon,.homepage-aboutus-body .usd-icon
,.homepage-aboutus-body .thumbs-up-icon{
  font-size: 50px;
color: #10375c;
}     
.homepage-aboutus-body .card-heading,.homepage-aboutus-body .card-content{
  margin: 12px 0px;
}

/* meet the team page*/
.meet-the-team{
  height: 900px;
}
.meet-the-team img{
  height: 300px;
    width: 419.7px;
    opacity: 0.9;
}
.meet-the-team .card-deck{
  width: 100%;
  margin: 20px 0px !important;
}
.meet-the-team .card{
  border: none;
  text-align: center;

}
.meet-the-team .heading{
  background-color: #10375c;
    padding: 15px 15px;
    text-align: center;
    font-weight: 600;
    color: #fff;
}
.meet-the-team .card-text{
  position: absolute;
  bottom: 0px;
  padding: 20px 0px;
  width: 100%;
  background: #10375c;
  color: var(--white);
  font-weight: bold;
  font-size: 18px;
}
.meet-the-team .card-img-overlay{
  padding: 0px;
  width: 100%;
}
.meet-the-team i{
  position: absolute;
  left: 16px;
  bottom: 40px;
  font-size: 35px;
  padding: 8px;
  background: var(--white);
  color: #10375c;
}
/*Contact US*/
.contact-us{
  height: 600px;
}
.contact-us .heading{
  background-color: #10375c;
    padding: 15px 15px;
    text-align: center;
    font-weight: 600;
    color: #fff;
}
.contact-us .card-deck{
  width: 100%;
  margin: 20px 0px !important;
}
.contact-us .card{
  border: none;
}
.contact-us img{
  height: 250px;
    width: 250px;
}
.contact-us-submit{
  border-radius: 0px !important;
  border: 1px solid #fff !important;
  background-color: transparent !important;
}
/* service*/
.Services{
  height:650px;
}
.Services .heading{
  background-color:#10375c;
    padding: 15px 15px;
    text-align: center;
    font-weight: 600;
    color: #fff;
}
.Services .card-deck{
  width: 100%;
  margin: 35px 0px !important;
}
.Services .card{
  border: none;
}
.Services .card .card-body{
  padding: 0px;
}
.Services .card h4{
  /* border-bottom: 3px solid #10375c; */
  margin: 0px;
  padding: 15px 0px;
}
.Services .card p{
  margin: 0;
  padding: 20px 0px;
}
.Services .card button{
 background-color:transparent ;
 border: 2px solid #10375c;
 border-radius: 0px;
 color:#10375c ;
 font-weight: 600;
}

/* time sheet landing page*/

.timesheet-landing-page{
  height: 400px;
}
.timesheet-landing-page .card-deck{
  width: 100%;
  margin: 20px 0px !important;
}
.timesheet-landing-page .card{
  border: none;
  text-align: center;
  padding: 60px 20px;
  box-shadow: 0 9px 12.7px 0.3px hsla(0,0%,88.2%,.64);
  /* border-right: 1px solid #ddd; */
}
.timesheet-landing-page .card .card-body{
  padding: 0px;
}
.timesheet-landing-page .card .card-body h3{
  color:var(--font-color-2);
    padding: 15px 0px;
}
.timesheet-landing-page .card .card-body .btn{
  background-color:var(--bg-color-3) ;
 border: 1px solid var(--bg-color-3);
}

/*register form and login form  page*/
.register-form-page .card-deck,
.login-form-page .card-deck{
  width: 100%;
  margin: 20px 0px !important;
}
.register-form-page .card,
.login-form-page .card{
  border: none;
  text-align: center;
  padding: 60px 20px;
  box-shadow: 0 9px 12.7px 0.3px hsla(0,0%,88.2%,.64);
  /* border-right: 1px solid #ddd; */
}
.register-form-page .card .card-body,
.login-form-page .card .card-body{
  padding: 0px;
}
.register-form-page .left-card,
.login-form-page .left-card{
  background-color: #10375c;
  background-image: linear-gradient(35deg, #10375c 0%, #55b3ed 100%);
  color:var(--font-color-1)  ;
}

.register-form-page .left-card a,
.login-form-page .left-card a{
  color: var(--font-color-1);
}
.register-form-page .card .btn,
.login-form-page .card .btn{
  background-color:var(--bg-color-3) ;
 border: 1px solid var(--bg-color-3);
}
/*timesheet page*/
.timesheet-page,.demoTimesheet{
  /* height: 1000px; */
}

.calender-section{
  width: 650px;
}
.demoTimesheet .dropdown{
  display: inline-block;
  margin: 6px 12px;
}
.demoTimesheet button{
  background: #10375c;
    border: #10375c;
}
.demoTimesheet .timesheet-table{
      width: 75%;
    margin: 6px 12px;
}
.table-header ul,.p-datatable-header{
  padding: 0px !important;
}
.table-header li{
  width: 192px;
text-align: left;
padding: 1rem 1rem;
border: 1px solid #e9ecef;
border-width: 0 0 1px 0;
font-weight: 600;
color: #495057;
background: #f8f9fa;
display: inline-block;
-webkit-transition: -webkit-box-shadow 0.2s;
transition: -webkit-box-shadow 0.2s;
transition: box-shadow 0.2s;
transition: box-shadow 0.2s, -webkit-box-shadow 0.2s;
}
.p-datatable-tbody tr:first-child{
  pointer-events: none;
}
.p-datatable-tbody tr:first-child td{ 
  background: #f8f9fa ;
  font-weight: 600;
}
